* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #FF5300;
}

.brand_color {
  color: #FF5300;
}

.bg_color {
  background-color: #FF5300;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

header .header_user .signedIn {
  display: none;
}

main .row1 h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  color: #202124;
}

main .row1 p {
  font-weight: normal;
  font-size: 17px;
  color: #777777;
  line-height: 30px;
}

main .row1 .search_input {
  width: 100%;
  height: 35px;
  border-right: none;
}

main .row1 .search_input input#search {
  width: 80%;
  height: 100%;
  border: 1px solid #777777;
  border-right: none;
  background-color: transparent;
  outline: none;
}

main .row1 .search_input input[type="submit"] {
  height: 100%;
  width: 20%;
}

main .row1 .carousel_container {
  width: 80%;
  border: 1px solid #777777;
  height: 200px;
}

main .row2 {
  text-align: left;
  border-bottom: 1px solid #202124;
  width: 100%;
}

main .row2 .personalize {
  border-bottom: 2px solid #777777;
}

main .row2 .personalize span {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  display: block;
  text-align: center;
}

main .row2 .personalize span input {
  font-size: 15px;
}

main .row2 .popular_brands span {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
}

main .row2 .popular_brands article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .row2 .popular_brands article span {
  display: inline-block;
  width: 130px;
  margin-bottom: 20px;
}

main .row2 .popular_brands article span img {
  width: 80px;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .row3 {
  text-align: center;
}

main .row3 .img_container {
  width: 179px;
  height: 230px;
  text-align: center;
}

main .row3 .img_container img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid grey;
}

main .row3 .img_container p {
  font-size: 18px;
}

main .row3 .img_container p i {
  color: #FF5300;
  font-size: 14px;
}

main .row3 .personalize_acct section {
  color: #202124;
  font-size: 18px;
  line-height: 25px;
}

main .row3 .personalize_acct span {
  display: inline-block;
  font-weight: bold;
  border: 1px solid #777777;
  border-radius: 5px;
  width: 80px;
  font-size: 14px;
  text-align: center;
  color: #777777;
}

main .row3 .personalize_acct article.genre {
  color: #777777;
}

main .row3 .personalize_acct article.genre span {
  width: 80px;
  font-size: 14px;
  text-align: center;
}

main .row3 .personalize_acct article.genre span.plus {
  background-color: #f4f4f4;
}

main .row3 .personalize_acct article.genre span.plus i {
  font-size: 10px;
  color: #ffffff;
  background-color: #777777;
  border-radius: 100%;
  padding: 1px 3px;
  text-align: center;
}

main .row3 .personalize_acct section.m_likes div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

main .row3 .personalize_acct section.m_likes div article {
  width: 100%;
  height: 170px;
  text-align: left;
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: left;
}

main .row3 .personalize_acct section.m_likes div article img {
  width: 100%;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid red;
  border-radius: 10px;
}

main .row3 .personalize_acct section.m_likes div article p {
  text-align: left;
  font-size: 12px;
  color: #202124;
  font-weight: bold;
}

main .row3 .personalize_acct section.m_likes div article p:nth-child(3) {
  border: none;
  font-size: 10px;
  color: #979797;
  padding: 0;
  margin-top: -25px;
}

main .row3 .personalize_acct section.m_likes div article.plus {
  height: 135px;
  width: 85px;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 10px;
}

main .row3 .personalize_acct section.m_likes div article.plus p {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #aaaaaa;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100%;
}

main .row4 {
  clear: both;
}

main .row4 article h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 44px;
  color: #202124;
}

main .row4 article.sort {
  color: #1e1e1e;
  margin: 10px 0;
}

main .row4 .range {
  width: 300px;
  position: relative;
}

main .row4 .range span {
  position: absolute;
  top: 5px;
  right: 70px;
}

main .row4 .range input {
  position: absolute;
  right: 0;
  top: 15px;
  -webkit-appearance: none;
  margin-top: 20px;
  width: 60%;
  height: 3px;
  border-radius: 5px;
  background: #FF5300;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

main .row4 .range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FF5300;
  cursor: pointer;
}

main .row4 .range input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FF5300;
  cursor: pointer;
}

main .row4 div.movie_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
}

main .row4 div.movie_list article {
  width: 100%;
  height: 300px;
  border: 1px solid grey;
  border-radius: 8px;
}

main .row4 div.movie_list article div img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .row4 div.movie_list article div.m_details {
  height: 40px;
  padding-top: 5px;
  position: relative;
}

main .row4 div.movie_list article div.m_details span {
  background-color: #dadada;
  border-radius: 100%;
  padding: 7px 14px;
  display: inline-block;
  position: absolute;
  font-weight: bold;
}

main .row4 div.movie_list article div.m_details p {
  display: inline-block;
  margin-left: 42px;
}

main .row4 div.movie_list article div.m_details i {
  font-size: 9px;
  color: #979797;
  display: block;
}

main .row5 {
  text-align: center;
  background-color: #f4f4f4;
}

main .row5 h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 44px;
  color: #777777;
}

main .row5 form {
  height: 40px;
  border-color: #777777;
  width: 80%;
  position: relative;
}

main .row5 input[type="email"] {
  height: 100%;
  width: 80%;
  padding-left: 20px;
  border: 1px solid grey;
  border-right: none;
}

main .row5 input[type="submit"] {
  height: 100%;
  width: 20%;
  outline: none;
  font-size: 0.8em;
  display: inline-block;
  padding: 10px;
  position: absolute;
  right: 10%;
  top: 0;
}

@media screen and (min-width: 768px) {
  main {
    margin: 0 auto;
    padding: 30px 50px;
  }
  main .row2 {
    border: none;
  }
  main .row2 .personalize {
    position: relative;
  }
  main .row2 .personalize span {
    text-align: left;
    display: inline-block;
  }
  main .row2 .personalize span input {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  main .row2 .popular_brands {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  main .row2 .popular_brands article {
    display: inline-block;
  }
  main .row2 .popular_brands article span {
    display: inline-block;
  }
  main .row3 {
    text-align: left;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 11fr;
        grid-template-columns: 1fr 11fr;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  main .row3 .personalize_acct {
    text-align: left;
    margin-left: 0;
    width: 100%;
  }
  main .row3 .personalize_acct article.genre {
    margin-left: 0;
  }
  main .row3 .personalize_acct section.m_likes {
    margin-top: 0;
    width: 100%;
  }
  main .row3 .personalize_acct section.m_likes div {
    display: block;
  }
  main .row3 .personalize_acct section.m_likes div article {
    float: left;
    width: 85PX;
  }
  main .row3 .break_2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
  main .row3 .break_2 div {
    text-align: center;
  }
  main .row4 div.movie_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 30px;
  }
  main .row5 {
    position: absolute;
    left: 0;
    right: 10px;
  }
  main .row5 div {
    width: 590px;
    margin: 0 auto;
  }
  main .row5 div h3 {
    font-size: 33px;
    margin-bottom: 30px;
  }
  main .row5--cover {
    height: 350px;
  }
}

@media screen and (min-width: 1050px) {
  main {
    padding: 50px 120px;
  }
  main .row3 .personalize_acct {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  main .row4 {
    position: relative;
  }
  main .row4 article.sort {
    position: absolute;
    z-index: 1;
    right: 380px;
    top: 0;
  }
  main .row4 .range {
    position: absolute;
    top: -35px;
    right: 10px;
  }
  main .row4 div.movie_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  main .row4 div.movie_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=main.css.map */