$font_color : #ffffff;
$font_color_dark : #202124;
$default_color: #000000;
$brand_color :#FF5300;
$google_button: #D72A04;
$fb_button: #0669C9;
$email_button: #FF5300;
$input_color : #333333;
$text_color: #202124;
$general_color: #777777;
$badge_color: #dadada;

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden !important;
}
.container {
    max-width: 1200px;
    min-width: 320px;
    padding: 0 2.5%;
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: $default_color;
}

a:hover {
    text-decoration: none;
    color: $brand_color;
    opacity: .7;
}


.brand_color {
    color: $brand_color;
}

.bg_color {
    background-color: $brand_color;
    color: $font_color;
    border: 0;
    border-radius: 5px;
}

img {
    object-fit: cover;
}

.clear{
    clear: both;
}

.active {
    color: $brand_color;
}