@import "config";

header {
  .login {
    display: none;
  }
}

/* SIDEBAR */
main.container {
  .sidebar {
    background-color: $font_color;
    height: auto;
    z-index: 1;

    h5 {
      background-color: #332f30;
      color: $font_color;
      font-weight: bold;
      font-size: 20px;
      line-height: 33px;
      padding: 8px 5px 8px 50px;
      border-radius: 0px 8px 8px 0px;
      position: relative;

      span {
        position: absolute;
        right: 10px;
        top: 13px;
        color: $brand_color;
        font-size: 18px;
        line-height: 25px;
        a {
          color: $brand_color;
        }
      }
    }
    .sidebar h5:first-child,
    .bg_color {
      background-color: $brand_color;
    }

    h6 {
      position: relative;
      font-weight: bold;
      font-size: 16px;
      line-height: 25px;
      color: $text_color;
      margin: 25px 0;
      cursor: pointer;

      i,
      img {
        position: absolute;
        right: 0px;
        top: 5px;
        cursor: pointer;
      }
    }

    h6:hover {
      color: $brand_color;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      color: $text_color;

      input {
        margin-right: 22px;
      }
    }
    span.m_public {
      p {
        font-weight: normal;
        position: relative;
        i {
          position: absolute;
          right: 0;
          top: 5px;
        }
      }
    }
  }

  .main_page {
    position: relative;

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 44px;
      color: $text_color;
    }
    article.sort {
      color: #1e1e1e;
      margin: 20px 0;
      position: absolute;
      top: 40px;
      width: 200px;
      font-size: 14px;

      .myDropdown {
        cursor: pointer;
        display: inline-block;
        width: 130px;
        i {
          float: right;
          margin-top: 5px;
        }
      }
      .myDropdown:hover {
        opacity: 0.7;
      }

      .dropdown_content {
        background-color: white;
        color: black;
        margin-top: 10px;
        display: none;
        width: 250px;
        position: absolute;
        top: 25px;
        left: 0px;
        z-index: 1;
        border-bottom: 1px solid grey;

        li {
          border: 1px solid grey;
          border-bottom: none;
          padding: 10px;
          list-style: none;
          position: relative;
          cursor: pointer;

          .check_state {
            display: none;
            i {
              float: right;
              display: block;
              color: white;
              position: relative;
              font-size: 10px;
              padding-right: 8px;
              padding-top: 4px;
            }
            img {
              position: absolute;
              display: block;
              right: 10px;
              top: 10px;
              z-index: -1;
            }
          }
        }
      }
      .myDropdown:hover .dropdown_content {
        font-size: 25px;
      }
    }
    .range {
      width: 200px;
      position: absolute;
      top: 80px;
      font-size: 14px;

      span {
        position: absolute;
        top: 0px;
        right: 70px;
      }

      input {
        position: absolute;
        right: 0;
        top: 15px;
        -webkit-appearance: none;
        margin-top: 20px;
        width: 60%;
        height: 3px;
        border-radius: 5px;
        background: $brand_color;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
      }

      input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $brand_color;
        cursor: pointer;
      }

      input::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $brand_color;
        cursor: pointer;
      }
    }

    div.movie_list {
      article {
        width: 160px;
        height: 300px;
        border-radius: 8px;
        margin-bottom: 70px;
        position: relative;

        div img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          border-radius: 8px;
        }

        div.m_details {
          height: 50px;
          padding-top: 5px;
          position: relative;

          span {
            background-color: $badge_color;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            position: absolute;
            font-weight: bold;
          }
          p {
            display: inline-block;
            margin-left: 50px;
            font-weight: bold;
          }

          i {
            font-size: 9px;
            color: #979797;
            display: block;
          }
        }
        section {
          width: 100%;
          height: 250px;
          border-radius: 8px;
          position: absolute;
          top: 0;
          right: 0;
          background-color: transparent;
        }
        .m_state {
          .icons {
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            i {
              color: rgb(230, 216, 216);
              font-size: 15px;
              position: relative;

              span {
                position: absolute;
                top: 4px;
                left: 3px;
                font-size: 6px;
                color: black;
                font-weight: bolder;
              }
            }
          }
        }
        .seen {
          background-color: rgba(255, 255, 255, 0.342);
          display: none;
          justify-content: center;
          align-items: center;
          color: white;
          text-align: center;

          i {
            border: 2px dashed white;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          a {
            color: white;
            display: block;
            font-size: 22px;
            line-height: 30px;
            margin-top: 10px;
          }
        }
        .watch {
          display: none;
          flex-direction: column;
          background-color: rgba(20, 17, 17, 0.637);
          color: white;
          padding: 5px;
          position: relative;
          p.about_movie {
            font-weight: normal;
            font-size: 8px;
            line-height: 12px;
          }
          p.ratings {
            font-size: 8px;
            line-height: 12px;

            i {
              font-size: 2.5em;
            }
          }
          p.m_state2 {
            font-size: 18px;
            i {
              color: white;
              font-size: 20px;
              position: relative;

              span {
                position: absolute;
                top: 5px;
                left: 4px;
                font-size: 6px;
                color: black;
                font-weight: bolder;
              }
            }
          }
          p.watch_movie {
            background-color: $brand_color;
            text-align: center;
            border-radius: 8px;
            position: absolute;
            bottom: -10px;
            left: 8px;
            width: 90%;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  article.sort {
    right: 210px;
    top: -5px !important;
  }

  .range {
    right: 0;
    top: -32px !important;
  }
}

/*functions with js*/
.active_state_icon {
  color: $brand_color !important;
}
.display_flex {
  display: flex !important;
}

.moveup {
  bottom: 45px !important;
}

.active_check{
  display: block !important;
}


////////////////////////

// /* PAGE CONTAINER STYING STARTS HERE*/
// main.container {
//   overflow-x: hidden;
// }

// /*ARROW STYLING */
//   .arrow {
//       position: absolute;
//       top: 60px;
//       left: 20px;
//       font-size: 25px;
//   }

//   .arrow:hover {
//       color: $brand_color;
//   }

// /* SIDE BAR STYING STARTS HERE*/
// .sidebar {
//   background-color: $font_color;
//   min-width: 300px;
//   max-width: 50%;
//   height: auto;
//   margin-left: -60px;
//   z-index: 1;
//   position: absolute;
//   left: -500px;
//   transition: left 1s;
//   h5 {
//     background-color: #332f30;
//     color: $font_color;
//     font-weight: bold;
//     font-size: 20px;
//     line-height: 33px;
//     padding: 8px 5px 8px 50px;
//     border-radius: 0px 8px 8px 0px;
//     position: relative;

//     span {
//       position: absolute;
//       right: 25px;
//       top: 13px;
//       color: $brand_color;
//       font-size: 18px;
//       line-height: 25px;
//     }
//   }

//   .sidebar h5:first-child,
//   .bg_color {
//     background-color: $brand_color;
//   }

//   h6 {
//     position: relative;
//     font-weight: bold;
//     font-size: 16px;
//     line-height: 25px;
//     color: $text_color;
//     margin: 25px 0;

//     i {
//       position: absolute;
//       right: -15px;
//       top: 5px;
//       cursor: pointer;
//     }
//   }

//   h6:hover {
//     color: $brand_color;
//   }

//   p {
//     font-size: 18px;
//     line-height: 25px;
//     color: $text_color;
//     position: relative;

//     input {
//       margin-right: 22px;
//     }

//     i {
//       position: absolute;
//       right: -15px;
//       color: white ;
//     }

//     i:hover {
//       color: $brand_color;
//     }
//   }
// }

// .slideShow {
//     left: 30px;
// }
// /* MAIN CONTENT STYING STARTS HERE*/
// .main {
//   /* First section  STYING STARTS HERE*/

//   .row1,
//   .row2 {
//     article {
//       font-size: 14px;
//       line-height: 52px;
//       h3 {
//         font-style: normal;
//         font-weight: bold;
//         font-size: 25px;
//         line-height: 44px;
//         color: $text_color;
//       }
//       div.sort_range {
//         position: relative;
//       }
//     }
//     article.sort {
//       color: #1e1e1e;
//     }

//     .range {
//       width: 100%;

//       input {
//         -webkit-appearance: none;
//         width: 100px;
//         height: 3px;
//         margin-left: 5px;
//         border-radius: 5px;
//         background: $brand_color;
//         outline: none;
//         opacity: 0.7;
//         -webkit-transition: 0.2s;
//         transition: opacity 0.2s;
//       }

//       input::-webkit-slider-thumb {
//         -webkit-appearance: none;
//         appearance: none;
//         width: 10px;
//         height: 10px;
//         border-radius: 50%;
//         background: $brand_color;
//         cursor: pointer;
//       }

//       input::-moz-range-thumb {
//         width: 25px;
//         height: 25px;
//         border-radius: 50%;
//         background: $brand_color;
//         cursor: pointer;
//       }
//     }

//     /* MOVIE LISTS SECTION STYLING */
//     div.movie_list {
//       display: flex;
//       flex-direction: row;
//       flex-wrap: wrap;
//       justify-content: space-around;
//       margin-bottom: 80px;

//       article {
//         width: 180px;
//         height: 300px;
//         margin-bottom: 50px;

//         img {
//           width: 100%;
//           height: 250px;
//           border-radius: 8px;
//         }

//         .m_details {
//           height: 50px;
//           font-weight: bold;
//           font-size: 14px;
//           line-height: 19px;
//           position: relative;
//           padding-top: 10px;

//           span {
//             background-color: $badge_color;
//             border-radius: 100%;
//             display: inline-block;
//             position: absolute;
//             font-weight: bold;
//             width: 30px;
//             height: 30px;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//           }
//           p {
//             display: inline-block;
//             margin-left: 42px;
//             font-weight: bold;
//             i {
//               font-weight: normal;
//               font-size: 10px;
//               line-height: 14px;
//               color: #979797;
//             }
//           }
//         }
//       }
//     }
//   }

//   .row2 {
//     p {
//       border-bottom: 1px solid $badge_color;
//     }

//     .year {
//       width: 175px;
//       span {
//         margin-right: 23px;
//       }
//     }
//     .month {
//       span {
//         font-weight: bold;
//         margin-right: 35px;
//       }
//     }

//     .active {
//       font-weight: bold;
//     }

//     .movie_list {
//       p {
//         margin-left: 0 !important;
//       }
//       i {
//         a {
//           color: $brand_color;
//         }
//       }
//     }
//   }
// }

// /* MEDIUM SCREEN STYING STARTS HERE*/

// @media screen and (min-width: 768px) {
//   header {
//     .header_search {
//       div {
//         span {
//           display: block !important;
//           visibility: hidden;
//         }
//       }
//     }
//   }

//   .row1 {
//     position: relative;
//     article {
//       h3 {
//         font-style: normal;
//         font-weight: bold;
//         font-size: 23px;
//         line-height: 44px;
//         color: $text_color;
//       }

//       div.sort_range {
//         position: absolute !important;
//         top: -25px;
//         right: -10px;
//         width: 385px;
//         display: grid;
//         grid-template-columns: 1fr 1fr;

//         .week {
//           position: absolute;
//           top: -20px;
//           right: 50px;
//         }
//       }
//     }
//   }
// }

// @media screen and (min-width: 992px){
//     .sidebar {
//         position: static !important;
//     }
// }
