@import "./config";

/*HEADER STYLE*/
header {
  .menu a.m_active {
    border-top: 2px solid $brand_color;
    padding-top: 5px;
  }
  .header_user {
    .signedIn {
      display: none;
    }
  }
}

/*MAIN PAGE STYLE*/
main {
  /*ROW 2 STYLE*/

  .row1 {
    h3 {
      font-size: 35px;
      line-height: 52px;
      font-weight: bold;
      font-style: normal;
      color: $text_color;
    }

    p {
      font-weight: normal;
      font-size: 20px;
      color: $general_color;
      line-height: 30px;
      width: 100%;
    }

    div {
      width: 100%;
      .search_input {
        width: 100%;
        height: 35px;
        border-right: none;

        input#search {
          width: 80%;
          height: 100%;
          border: 1px solid $general_color;
          border-right: none;
          background-color: transparent;
          outline: none;
          border-radius: 5px 0 0 5px;
        }
        input[type="submit"] {
          height: 100%;
          width: 20%;
          background-color: $brand_color;
          border: 1px solid $brand_color;
          color: $font_color;
          border-radius: 0 5px 5px 0;
        }
      }
    }

    .carousel_container {
      height: 320px;
      justify-content: center;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
      .img_container {
        position: relative;
        height: 315px;
        width: 320px;

        .images {
          display: none;
        }

        .control {
          position: absolute;
          top: 0;
          font-size: 30px;
          height: 50%;
          transform: translateY(85%);
          i {
            cursor: pointer;
          }
        }
        .control--left {
          left: -50px;
          width: 20px;
        }

        .control--right {
          right: -50px;
          width: 20px;
          z-index: 5;
        }

        &_1 {
          display: block !important;
          position: absolute;
          width: 200px;
          height: 314px;
          z-index: 3;
        }
        &_2 {
          display: block !important;
          position: absolute;
          width: 140px;
          height: 210px;
          top: 54px;
          left: 130px;
          z-index: 2;
        }
        &_3 {
          display: block !important;
          position: absolute;
          width: 117px;
          height: 176px;
          top: 70px;
          left: 190px;
          z-index: 1;
        }

        .active_img {
          display: block;
          position: absolute;
          width: 200px;
          height: 314px;
          left: 0;
          top: 0;
          z-index: 3;
        }
      }
    }
  }

  /*ROW 2 STYLE*/
  .row2 {
    text-align: left;
    width: 100%;

    .personalize {
      border-bottom: 2px solid $general_color;
      span {
        font-size: 32px;
        line-height: 44px;
        font-weight: bold;
        display: block;
        text-align: center;

        input {
          font-size: 15px;
        }
      }
    }

    .popular_brands {
      a {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        width: 174px;
      }

      article {
        span {
          width: 120px;
          margin-bottom: 20px;
          margin-right: 40px;

          img {
            width: 80px;
            height: 30px;
            display: inline-block;
            margin-left: 16px;
            object-fit: contain;
          }
        }
      }
    }
  }
  /*ROW 3 STYLE*/

  .row3 {
    /*user pictureSTYLE*/

    .img_container {
      width: 179px;
      height: 230px;

      p {
        font-size: 14px;
        width: 95px;
        i {
          color: $brand_color;
          font-size: 14px;
        }
      }
    }
    /*User preference*/

    .personalize_acct {
      color: $text_color;
      section {
        font-size: 14px;
        line-height: 27px;
        font-size: 20px;
        line-height: 27px;
        color: #202124;
      }
      .p_type, .genre_container {
        font-size: 16px;
      }
      a {
        display: inline-block;
        font-weight: bold;
        border: 1px solid $general_color;
        border-radius: 5px;
        width: 80px;
        height: 28px;
        font-size: 14px;
        color: $general_color;
        display: flex;
        justify-content: center;
        align-content: center;
      }
      a._active {
        color: $brand_color;
        border: 1px solid $brand_color;
      }
      article.genre {
        color: $general_color;
        width: 200px;

        a.plus {
          background-color: #f4f4f4;
          position: relative;
          i {
            font-size: 14px;
            color: $font_color;
            background-color: $general_color;
            border: 2px solid $general_color;
            border-radius: 100%;
            position: absolute;
            padding: 0;
            top: 4px;
            right: 30px;
          }
        }
      }
      article.genre--p{
        width: 140px;
        a{
        width: 60px;
      }
      }
      /*movies like by users*/

      section.m_likes {
        article {
          width: 89px;
          height: 170px;
          margin-bottom: 10px;
          position: relative;
          margin-right: 0px;

          a {
            height: 135px;
            width: 95%;
            border: none;
          }
          img {
            width: 100%;
            height: 135px;
            object-fit: cover;
            border-radius: 10px;
          }

          p {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            color: $text_color;
          }
          i {
            position: absolute;
            font-size: 10px;
            line-height: 14px;
            bottom: 0;
            color: $general_color;
            left: 0;
          }
        }

        article.plus {
          border-radius: 8px;
          cursor: pointer;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f4f4f4;
            font-size: 25px;
            color: $font_color;
            position: relative;

            i {
              position: absolute;
              top: 37%;
              left: 30%;
              color: white;
              height: 36px;
              width: 36px;
              font-size: 25px;
              padding-top: 10px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-content: center;
              background-color: #aaaaaa;
              border: 1px solid #f4f4f4;
            }
          }

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  /*ROW 4 STYLE*/

  .row4 {
    article {
      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        color: $text_color;
      }
    }
    article.sort {
      color: #1e1e1e;
      margin: 20px 0;
      position: relative;
      width: 215px;

      .myDropdown {
        cursor: pointer;
        display: inline-block;
        width: 130px;
      }
      .myDropdown:hover {
        opacity: 0.7;
      }

      .dropdown_content {
        background-color: white;
        color: black;
        margin-top: 10px;
        display: none;
        width: 230px;
        position: absolute;
        top: 25px;
        left: 0px;
        z-index: 1;

        li {
          border-bottom: 1px solid #f3f3f3;
          padding: 10px;
          list-style: none;
          position: relative;
          cursor: pointer;

          .check_state {
            display: none;
            i {
              float: right;
              display: block;
              color: white;
              position: relative;
              font-size: 10px;
              padding-right: 8px;
              padding-top: 4px;
            }
            img {
              position: absolute;
              display: block;
              right: 10px;
              top: 10px;
              z-index: -1;
            }
          }
        }
      }
    }

    .range {
      width: 250px;
      position: relative;

      span {
        position: absolute;
        top: 0px;
        right: 50px;
      }

      input {
        position: absolute;
        right: 0;
        top: 15px;
        -webkit-appearance: none;
        margin-top: 20px;
        width: 60%;
        height: 3px;
        border-radius: 5px;
        background: $brand_color;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
      }

      input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $brand_color;
        cursor: pointer;
      }

      input::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $brand_color;
        cursor: pointer;
      }
    }

    div.movie_list {
      article {
        width: 180px;
        height: 300px;
        border-radius: 8px;
        margin-bottom: 50px;
        position: relative;

        div img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          border-radius: 8px;
        }

        div.m_details {
          height: 50px;
          padding-top: 5px;
          position: relative;

          span {
            background-color: $badge_color;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            position: absolute;
            font-weight: bold;
          }
          p {
            display: inline-block;
            margin-left: 45px;
            font-weight: bold;
            a {
              font-size: 14px;
              line-height: 19px;
            }
         
          }

          i {
            font-size: 9px;
            color: #979797;
            display: block;
          }
        }
        section {
          width: 100%;
          height: 250px;
          border-radius: 8px;
          position: absolute;
          top: 0;
          right: 0;
          background-color: transparent;
        }
        .m_state {
          .icons {
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            i {
              color: rgb(230, 216, 216);
              font-size: 15px;
              position: relative;

              span {
                position: absolute;
                top: 4px;
                left: 2px;
                font-size: 6px;
                color: black;
                font-weight: bolder;
              }
            }
          }
        }
        .seen {
          background-color: rgba(255, 255, 255, 0.342);
          display: none;
          justify-content: center;
          align-items: center;
          color: white;
          text-align: center;

          i {
            border: 2px dashed white;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          a {
            color: white;
            display: block;
            font-size: 22px;
            line-height: 30px;
            margin-top: 10px;
          }
        }
        .watch {
          display: none;
          flex-direction: column;
          background-color: rgba(20, 17, 17, 0.637);
          color: white;
          padding: 5px;
          position: relative;
          p.about_movie {
            font-weight: normal;
            font-size: 8px;
            line-height: 12px;
          }
          p.ratings {
            font-size: 8px;
            line-height: 12px;

            i {
              font-size: 2.5em;
            }
          }
          p.m_state2 {
            font-size: 18px;
            i {
              color: white;
              font-size: 20px;
              position: relative;

              span {
                position: absolute;
                top: 5px;
                left: 4px;
                font-size: 6px;
                color: black;
                font-weight: bolder;
              }
            }
          }
          p.watch_movie {
            background-color: $brand_color;
            text-align: center;
            border-radius: 8px;
            position: absolute;
            bottom: -10px;
            left: 8px;
            width: 90%;
            cursor: pointer;
          }
        }
      }
    }
  }
  /*ROW 5 STYLE*/
}
.full_width {
  background-color: #f4f4f4;
  .subscribe_input {
    min-width: 320px;
    max-width: 410px;
    height: 35px;
    border-right: none;
    font-size: 15px;

    input#subscribe {
      width: 75%;
      height: 100%;
      border: 1px solid $general_color;
      border-right: none;
      background-color: transparent;
      outline: none;
      border-radius: 8px 0 0 8px;
    }
    input[type="submit"] {
      height: 100%;
      width: 25%;
      background-color: $brand_color;
      border: 1px solid $brand_color;
      color: $font_color;
      border-radius: 0 8px 8px 0;
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .row1 {
      p {
        width: 75%;
      }
      div {
        width: 80%;
      }
    }
    .row2 {
      border: none;
      .personalize {
        position: relative;
        span {
          text-align: left;
          display: inline-block;

          input {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
      .popular_brands {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 0px;
        article {
          display: inline-block;
          span {
            display: inline-block;
          }
        }
      }
    }

    .row3 {
      text-align: left;
      width: 100%;
    }

    .row4 {
      div.movie_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
        margin-bottom: 30px;
      }
    }

    .row5 {
      position: absolute;
      left: 0;
      right: 10px;
      div {
        width: 590px;
        margin: 0 auto;

        h3 {
          font-size: 33px;
          margin-bottom: 30px;
        }
      }
    }

    .row5--cover {
      height: 350px;
    }
  }
}

@media screen and (min-width: 992px) {
  main {
    padding: 50px 120px;

    .carousel_container {
      position: relative;
      .img_container {
        position: absolute !important;
        right: 45px;
      }
    }

    .row4 {
      position: relative;
      article.sort {
        position: absolute;
        z-index: 1;
        right: 300px;
        top: -10px;
      }

      .range {
        position: absolute;
        top: -35px;
        right: 0px;
      }
    }
  }
}
/*functions with js*/
.active_state_icon {
  color: $brand_color !important;
}
.display_flex {
  display: flex !important;
}

.moveup {
  bottom: 45px !important;
}

.active_check {
  display: block !important;
}

////////////////////////
@media screen and (max-width: 560px) {
  .carousel_container {
    display: none !important;
  }
}
