@import "config";

.modal_header {
  background-color: $font_color;

  .modal_content {
    div.body1 {
      border: 0.5px solid #cacacaca;
      border-right: none;
      border-left: none;

      p {
        font-size: 14px;
        line-height: 19px;
        color: $default_color;
      }
      
      &_header {
        h4.movie_name {
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          color: $default_color;
          article {
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
          }
        }
      }

    }
    div.body2 {
      input[type="text"] {
        width: 100%;
        height: 32px;
        background: #ffffff;
        border: 1px solid #a8b7c7;
        box-sizing: border-box;
        border-radius: 4px;
      }

      .review_input {
        height: 187px !important;
      }
    }

    div.cta {
        input:last-child {
            border:1px solid $brand_color;
            background-color: transparent;
            border-radius: 5px;
        }
    }
  }
}

@media screen and (min-width: 768px) {
  .modal_image {
    order: 2;
  }

  .modal_content {
    order: 1;
  }
}
