@import "./config";

/*header style*/
header {
  .login {
    display: none;
  }

  .header_search {
    .menu {
      display: none;
    }
  }
}

/*Page style start*/

.page_header {
  position: relative;
  height: 320px;
  background-image: url("../uploads/got_throne.png");
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    position: relative;
    height:320px ;
  }
  &_content {
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;

    .vote_number {
      color: $font_color;

      p {
        font-size: 22px;
        line-height: 30px;
      }
      span {
        font-weight: lighter;
        font-size: 14px;
      }
    }
    .vote_star {
      color: #ffce31;
      font-size: 25px;
      font-weight: lighter;
      font-weight: 600;
      i {
        margin-right: 5px;
      }
      i.far.fa-star {
        color: white;
      }
    }
    .m_provider {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $font_color;

      article {
        width: 50px;
        height: 50px;
      }
      img {
        width: 100%;
        height: 25px;
        border-radius: 2px;
      }
      span {
        display: block;
      }
    }
  }
}

.page_body {
  .sidebar {
    margin-bottom: 300px;
    .img_container {
      background-color: #332f30;

      img {
        width: 100%;
        height: auto;
      }
    }
    .movie_details {
      p {
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 5px;

        span:last-child {
          font-size: 11px;
        }
      }
    }
    .movie_trailer {
      p {
        background-color: rgba(119, 119, 119, 0.08);
        border-radius: 5px;
        width: 117px;
        display: flex;
        justify-content: center;
        align-content: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
      }

      iframe {
        width: 100%;
        height: auto;
      }
      article {
        width: 100%;
        iframe,
        img {
          width: 49%;
          height: auto;
        }
      }
    }
    .movie_cc {
      h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #332f30;
      }
      div {
        article {
          width: 45%;

          p {
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
          }
          p:first-child {
            color: $brand_color;
          }
        }
      }
    }
  }

  .main_container {
    position: relative;
    h3 {
      font-weight: 600;
      font-size: 28px;
      line-height: 38px;
      color: $default_color;
      display: inline-block;
      span {
        color: $general_color;
      }
    }
    p.add_to {
     float: right;
      font-size: 14px;
      line-height: 18px;
    }

    section.about_movie {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #332f30;

      h5 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
      }

      p:last-child {
        a {
          border: 1px solid;
          border-radius: 10px;
          display: inline-block;
          margin-bottom: 10px;
        }
        a.active {
          color: $brand_color;
        }
      }
    }

    section.seasons {
      font-weight: 600;

      h3 {
        font-size: 18px;
        line-height: 25px;
        color: #332f30;
      }
      ul.list-unstyled {
        width: 100%;
        background-color: rgb(240, 239, 239);
        li {
          border-bottom: 1px solid rgba(182, 173, 173, 0.438);
          cursor: pointer;
        }
        i {
          float: right;
        }
      }
    }

    .episode_thriller {
      width: 100%;

      &_item {
        width: 100%;
        height: auto;
        iframe {
          width: 100%;
          height: 200px;
          border: none;
        }
        span a, i {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
        }
        p {
          font-weight: bold;
          font-size: 24px;
          line-height: 20px;
          i {
            font-weight: normal;
          }
        }
        p.trailer_text {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    .comment_container {
      position: relative;
      width: 98%;
      h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
      }

      .comment {
        border: 1px solid $badge_color;
        border-radius: 8px;
        position: relative;

        .fa-twitter {
          position: absolute;
          right: 30px;
          top: 40px;
          color: #00aeff;
          font-size: 30px;
        }

        article.t_user i {
          font-size: 70px;
          color: #979797;
        }
        .tweet {
          .brand_color {
            color: $brand_color;
          }
          p {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
          }

          article {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            padding-right: 40px;
          }
        }

        .rt_likes {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #979797;
        }
      }
      .gists {
        border-top: 1px solid $badge_color;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #1b8bc8;
        padding-left: 20%;
      }
      .see_more {
        font-weight: 600;
        width: 100px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.233333px;
        color: #1b8bc8;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  /*header style*/
  header {
    .header_search {
      .menu {
        display: inline-block !important;
        visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .t_user {
    i {
      font-size: 50px !important;
    }
  }
  .gists {
    font-size: 0.9em !important;
  }
}
