@import "config";

.tweet_container_box {
  min-width: 320px;
  max-width: 700px;
  color: #332f30;

  .tweet_header {
    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      border: 1px solid red;
    }
    h5.tweet_nav {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      border: 1px solid red;

      a.active {
        color: $brand_color;
        font-weight: bold;
      }
    }

    width: 100%;
    height: 50px;
  }

  .tweet_body {
    .tweet_sender {
      > i {
        color: #aeaeae;
      }
      > span.t_user {
        a {
          font-size: 16px;
          line-height: 20px;
        }
        i {
          font-weight: 600;
          font-size: 13px;
          line-height: 20px;
          display: block;
        }
      }
      .t_activities {
        i {
          color: #1b8bc8;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    h6.tweet_content {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #404040;
      border-radius: 5px;
    }

    p.reply_tweet {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #1b8bc8;
      border-radius: 5px;
    }
  }
}
