@import "config";

.tweet_box {
  background-color: white;
  z-index: 99;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

  .close {
    font-size: 35px;
    color: red;
    cursor: pointer;
  }
}
.tweet_box::-webkit-scrollbar {
  width: 2px;
  background-color: rgb(219, 203, 194);
}
.tweet_box::-webkit-scrollbar-thumb {
  background-color: black;
}
.tweet_container_box {
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
  color: #332f30;
  

  .tweet_header {
    background: #e7e6e6;
    border-radius: 5px 5px 0 0;
    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
    }
    h5.tweet_nav {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;

      a.active {
        color: $brand_color;
        font-weight: bold;
      }
    }
  }

  .tweet_body {
    .tweet_sender {
      background: #e7e6e6;
      position: relative;
      &_pic {
        img {
          width: 36px;
          height: 36px;
        }
        i {
          font-size: 40px;
          color: grey;
        }
      }
      &_details {
          position: absolute;
          left: 60px;
          top: 5px;
        a {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
        }
        p {
          font-weight: 600;
          font-size: 13px;
          line-height: 20px;
        }
      }
      &_act {
          position: absolute;
          top: 45px;
          right: 20px;        
        span {
          color: #1b8bc8;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    h6.tweet_content {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #404040;
      border-radius: 5px;
    }

    p.reply_tweet {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #1b8bc8;
      border-radius: 5px;
    }
  }
}
