@import "config";

header {
  .signedIn {
    display: none;
  }
}

main {
  width: 600px;
  text-align: center;

  .section--one {
    span {
      h3 {
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        color: $font_color_dark;
      }
    }

    .steps {
      color: $input_color;
      width: 60%;

      p {
        color: $input_color;
        font-weight: 200px;
        font-size: 14px;
        line-height: 18px;

      }

      section {
        border-bottom: 2px solid rgb(146, 138, 138);
      }
      .active {
        border-bottom: 3px solid $brand_color;

        p{
        font-weight: 600;
        }
      }
    }
  }

  .body {
    border: 1px solid rgba(128, 128, 128, 0.089);
    text-align: left;

    .intro {
      font-weight: 400;
      font-size: 17px;
      line-height: 25px;
      span {
        font-weight: 900;
    }}

    .add_something {
      p {
        font-size: 14px;
        line-height: 19px;
        color: #000000;
      }
      input {
        width: 100%;
        border: 1px solid #A8B7C7;;
        border-radius: 5px;
      }
    }

    .pick_genre {
      width: 100%;
      text-align: left;

      p {
        font-weight: bold;
        color: $font_color_dark;
        font-size: 16px;
        line-height: 22px;
      }

      div {
        section {
          margin-bottom: 20px;

          article {
            display: inline-block;
            text-align: center;
            width: 50px;
            margin-right: 11px;

            span {
              display: inline-block;
              margin: 0 auto;
              width: 45px;
              height: 45px;
              background-color: #c4c4c4;
              border-radius: 3px;
            }

            p {
              font-weight: normal;
              font-size: 12px;
              line-height: 19px;
            }
          }
          article.tlong {
            width: 79px;
            position: relative;
            height: 65px;
          }

          article.l {
            span {
              position: absolute;
              top: 0px;
              left: 18px;
            }
            p {
              position: absolute;
              bottom: -40px;
            }
          }
        }
      }
    }

    .select_movies {
      background-color: #fffdfc;
      border-radius: 10px;
      margin-top: -30px;

      p {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        padding: 0 30px;
        position: relative;

        span {
          font-weight: normal;
          font-size: 10px;
          line-height: 16px;
          position: absolute;
          right: 20px;
          top: 3px;
        }
      }

      .movie_container {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 200px;
        padding: 0 20px;
        background-color: #fffdfc;

        .movie_lists {
          width: 100%;

          .move_list_item {
            width: 95px;
            height: 150px;
            display: inline-block;
            margin: 5px;

            img {
              width: 95px;
              height: 137px;
            }

            figcaption {
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
              margin-top: -10px;
            }
          }
        }
      }

      .movie_container::-webkit-scrollbar {
        width: 2px;
        background-color: rgb(219, 203, 194);
      }
      .movie_container::-webkit-scrollbar-thumb {
        background-color: black;
      }
    }

    .cta {
      text-align: center;
      a {
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $brand_color;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 20px;
      }

      a:first-child {
        color: $font_color;
        background-color: $brand_color;
        padding: 10px 50px;
        margin-right: 40px;
      }

      a:last-child {
        border: 1px solid $brand_color;
      }
    }
  }
}


@media screen and (max-width: 786px){
  main {
    width: 100%;

    .pick_genre {
      section {
        article {
          text-align: left;
        }
      }
    }

    .select_movies {
      p { 
        span {
          position: static !important;
          display: block;
        }
      }
    }

    .cta a {
      display: block;
    }
  }
}
